.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 750px;
}

.card-style {
  margin: 20px 50px;
}

.hastags {
  margin: 0px 3px;
}

.reactions {
  margin: 20px 0px 0px 0px;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
